apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-deploy
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
      - name: spring-container
        image: monprojetdemo:v2
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: spring-service
  namespace: devops
spec:
  selector:
    app: spring-app
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
